body {
    font-family: Arial, Helvetica, sans-serif;
}

#frase_inicial {
  color: rgb(11, 11, 63);
  font-style: italic;
  background-color: rgb(212, 193, 193);
  text-align: center;
}

#paragrafo_inicial {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
}

#formas_pagamento {
    color: red;
}
.menu {
    background-color: red;
}
.menu a{
    color: white;
    text-decoration: none;
}

.preco {
    color:red;
}
#rodape {
    text-align: center;
}

h3, li{
  font-size: 18px;
  color: #7c7c7c;
}

ul {
  list-style: none;
}

.lojas {
  width: 90%;
  margin-left: 10%;
  margin-top: 2%;
  text-align: center;
}

.filiais {
  display: inline-block;
  vertical-align: top;
  width: 28%;
}

.grupo_lojas{
  width: 100%;
    text-align: center;
}

#contatos {
        font-style: italic;
        text-align: center;
        width: 100%
}

#area {
  position: relative;
  left:37%;
  top:29%;
  width:350px;
  height:270px;
  display:block;
}

#formulario {
  position: relative;;
  display:block;
  border: 1px solid blue;
  padding: 10px;
  background-color: lightsteelblue;
}

#formulario input.btn_submit
{
  border-style: double;
  position:absolute;
  bottom: 0.5em;
  right:10px;
  background-color: gray;
}

